<style type="text/css">

  #outerspace {
    
    background: #0c0440 url('../images/outerspace.jpg');
    
    overflow: auto;
  }
  div.rocket {
    position: absolute;
    -webkit-transition: all 3s ease-in;
    -moz-transition: all 3s ease-in;
    -o-transition: all 3s ease-in;
    -ms-transition: all 3s ease-in;
    
  }
  div.rocket img {
  	-webkit-transform: rotate(5deg); 	
    -webkit-transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
    -ms-transition: all 2s ease-in-out;
    
  }
  #outerspace:hover div.rocket {
    -webkit-transform: translate(0px,1000px);
    -moz-transform: translate(0px,1000px);
    -o-transform: translate(0px,1000px);
    -ms-transform: translate(0px,1000px);
    
    z-index: 20;
  }
  #outerspace:hover div.rocket img {
    -webkit-transform: rotate(180deg);	
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    z-index: 20;
  }

</style>